.dub
bin/
docs.json
__dummy.html
docs/
/finalproject
finalproject.so
finalproject.dylib
finalproject.dll
finalproject.a
finalproject.lib
finalproject-test-*
client
server
finalproject
*.exe
*.pdb
*.o
*.obj
*.lst
